<!DOCTYPE html>
<html lang="en" ng-app="easyNmcMetro">
<head>
  <title>NMC Admin</title>
  <link rel="stylesheet" href="/style.css" type="text/css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

  <!-- Google APIs -->
  <script type="text/javascript" src="https://apis.google.com/js/client.js"></script>

  <script src="/shared.js"></script>
  <script src="/admin.js"></script>
</head>
<body ng-controller="Ctrl" ng-cloak ng-show="parishIdsFinishedLoading && infoFinishedLoading">
<p><label>Metropolis Upload Folder ID: <input type="text" ng-model="metaData.upload_folder" size=40 ng-show="metaDataFinishedLoading"></label>
<button ng-click="createFolders(metaData.upload_folder)">Create Folders</button>
<table class="bordered-table">
<thead>
<tr><th>Parish ID</th><th>Parish Name</th><th>City</th><th>State</th><th>Required to Report</th><th>Data Forms</th><th>Upload Folder</th></tr>
</thead>
<tbody>
<tr ng-repeat="(parish_id, parish_data) in parishIds">
<td>{{ parish_id }}</td>
<td><input type="text" ng-model=parish_data.name size=25></td>
<td><input type="text" ng-model=parish_data.city size=15></td>
<td><input type="text" ng-model=parish_data.state size=2></td>
<td>
  <select ng-model=parish_data.excused>
    <option value="">Yes</option>
    <option value="true">No</option>
  </select>
</td>
<td><a target="data-form" ng-href="parish/{{parish_id}}/data-form/2016?key={{parish_data.access_key}}">form</a></td>
<td><a target="upload_folder" ng-href="https://drive.google.com/drive/#folders/{{parish_data.upload_folder}}" ng-show="parish_data.upload_folder">Drive</a></td>
</tr>
</tbody>
</table>
<p><label>New Parish ID: <input type="text" ng-model=new_parish_id size=20></label><button ng-click="addParish(new_parish_id)">Add Parish</button>
<table class="bordered-table">
<thead>
<tr><th>Parish Name</th><th>City</th><th>State</th><th>Form Address</th></tr>
</thead>
<tbody>
<tr ng-repeat="(parish_id, parish_data) in parishIds">
<td>{{parish_data.name}}</td>
<td>{{parish_data.city}}</td>
<td>{{parish_data.state}}</td>
<td>https://easy-nmc.appspot.com/metropolis/{{metropolis_id}}/parish/{{parish_id}}/data-form/2016?key={{parish_data.access_key}}</td>
</tr>
</tbody>
</table>

</body>
</html>
