body {
	width: 7.5in;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}
label {
	display: inline-block;
}
span.input-block {
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
span.padded-label {
}
*.money {
	text-align: right;
}
th[scope="row"] {
	text-align: left;
}
section.form {
	text-align: left;
}
input.ng-invalid.ng-touched {
	background-color: #FA787E;
}

