<!DOCTYPE html>
<html lang="en" ng-app="easyNmcMetroSummary">
<head>
  <title>NMC - Summary</title>
  <link rel="stylesheet" href="/style.css" type="text/css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>

  <!-- Google APIs -->
  <script type="text/javascript" src="https://apis.google.com/js/client.js"></script>

  <script src="/shared.js"></script>
  <script src="/summary.js"></script>
</head>
<body class="wide" ng-controller="Ctrl" ng-cloak ng-show="parishIdsFinishedLoading && infoFinishedLoading && formDataFinishedLoading">
<p><button ng-click="refreshDriveData()">Refresh Google Drive Data</button>
<table class="bordered-table">
<thead>
<tr>
<th rowspan=2>Parish Name</th>
<th rowspan=2>City</th>
<th rowspan=2>State</th>
<th rowspan=2>Data Form</th>
<th rowspan=2>Upload Folder</th>
<th rowspan=2>Data Entered?</th>
<th rowspan=2>Approved By Parish?</th>
<th rowspan=2>Drive Empty?</th>
<th colspan=2>P&L Submitted?</th>
<th colspan=2>Balance Sheet Submitted?</th>
</tr>
<tr>
<th>{{ FOR_YEAR - 3 }}</th>
<th>{{ FOR_YEAR - 2 }}</th>
<th>{{ FOR_YEAR - 3 }}</th>
<th>{{ FOR_YEAR - 2 }}</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="(parish_id, parish_data) in parishIds | objectByKeyValFilter : 'excused' : 'true'">
<td>{{parish_data.name}}</td>
<td>{{parish_data.city}}</td>
<td>{{parish_data.state}}</td>
<td><a target="data-form" ng-href="parish/{{parish_id}}/data-form/2016?key={{parish_data.access_key}}">form</a></td>
<td><a target="upload_folder" ng-href="https://drive.google.com/drive/#folders/{{parish_data.upload_folder}}" ng-show="parish_data.upload_folder">Drive</a></td>

<td ng-if="dataEntered(parish_id)" class="good">Yes</td>
<td ng-if="!dataEntered(parish_id)" class="bad">No</td>

<td ng-if="parishApproval(parish_id) == 'full'" class="good">Yes</td>
<td ng-if="parishApproval(parish_id) != 'full'" class="bad">No</td>

<td ng-if="parish_data.driveEmpty == true" class="bad">Yes</td>
<td ng-if="parish_data.driveEmpty == false" class="good">No</td>
<td ng-if="parish_data.driveEmpty != true && parish_data.driveEmpty != false" class="attention">?</td>

<td ng-class="parish_data[FOR_YEAR - 3].have_pl ? 'good' : 'bad'">
<input type="checkbox" ng-change="parishIds.$save()" ng-model="parish_data[FOR_YEAR - 3].have_pl">
</td>

<td ng-class="parish_data[FOR_YEAR - 2].have_pl ? 'good' : 'bad'">
<input type="checkbox" ng-change="parishIds.$save()" ng-model="parish_data[FOR_YEAR - 2].have_pl">
</td>

<td ng-class="parish_data[FOR_YEAR - 3].have_bal ? 'good' : 'bad'">
<input type="checkbox" ng-change="parishIds.$save()" ng-model="parish_data[FOR_YEAR - 3].have_bal">
</td>

<td ng-class="parish_data[FOR_YEAR - 2].have_bal ? 'good' : 'bad'">
<input type="checkbox" ng-change="parishIds.$save()" ng-model="parish_data[FOR_YEAR - 2].have_bal">
</td>

</td>
</tr>
</tbody>
</table>

</body>
</html>
