<!DOCTYPE html>
<html lang="en" ng-app="easyNmc">
<head>
  <title>National Ministries Commitment App</title>
  <link rel="stylesheet" href="/2018/style.css" type="text/css">

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="//unpkg.com/angular-ui-router@0.4.2/release/angular-ui-router.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

  <script src="/2018/shared.js"></script>
  <script src="/2018/index.js"></script>
</head>
<body ng-controller="Ctrl" ng-cloak>
<div ng-if="!ready">Loading...</div>
<ui-view ng-if="ready"></ui-view>
</body>
</html>
